name: PlatformIO CI

on:
  workflow_dispatch:
  push:
    paths:
    - 'test_espidf/*'

jobs:
  build:

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        example: [test_espidf/src/]

    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: ${{ runner.os }}-pip-
    - name: Cache PlatformIO
      uses: actions/cache@v2
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
    - name: Install library dependencies
      run: pio lib -g install 1
    - name: Run PlatformIO
      run: pio ci --board=esp32dev --lib="testesp_idf/include"
      env:
        PLATFORMIO_CI_SRC: ${{ matrix.example }}
